
body {
  font: 16px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.game-board{
  width:100%;
}

.board-row{
  width:20%;
  height:85.05px;
  margin:0 auto;
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 20px;
  text-align:center;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 4em;
  font-weight: bold;
  line-height: 34px;
  height: 100%;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 33.33%;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}